#log {
  display: block;
  height: 400px;
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 50%;
  word-break: break-all;
}

h1, h4, h5 {
  text-align: center;
}

.btn-large {
  overflow: hidden;
  position: absolute;
  transform: translate(+50%, +50%);
  width: 50%;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

#loading {
  display: block;
  margin: 0 auto;
  white-space: pre-wrap
}

.btn-large:hover:before {
  opacity:1;
}

.settings-text {
  height: 20px;
  position: relative;
}

.browse, .browsetf {
  overflow: hidden;
  position: absolute;
  transform: translate(+87%, +50%);
  width: 60%;
}

.options {
  transform: translate(+75%, +12%);
  width: 40%;
}

.customCSS:before {
  background-color: #fb8c00;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .2s;
  width: 100%;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(69,90,100,0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(69,90,100,0.5);
}

::-moz-selection { background: #ffa726; color: #455a64; }
::selection { background: #ffa726; color: #455a64; }

#startTensorBoard:before { background-color: #fb8c00; }

#stopTensorBoard:before { background-color: #f4511e; }

#createNeuralNetwork:before { background-color: #7cb342; }

#about:before { background-color: #607d8b; }

#photoLibrary:before, #tfFilesDirectory:before { background-color: #3949ab; }

#testPic:before { background-color: #d4e157; }
#cleanup::before { background-color: #ec407a; }

body {
  display: none;
}

.photosDirectory, .tfFilesDirectory {
  transform: translate(-20%, +20%);
}

.labeling {
  left: -12% !important;
  top: +20% !important;
}

hr {
  background-color: #616161;
  border: none;
  color: #333;
  height: 5px;
  transform: translate(-10%, +520%);
  width: 125%;
}

.hrClose {
  transform: translate(-10%, +1390%);
}

* {
  box-sizing: border-box;
}

section {
  text-align: center;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

.container {
  display: table;
  width: 100%;
}

.left-half {
  position: absolute;
  left: 0px;
  width: 50%;
  transform: translate(+20%, +80%);
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
  transform: translate(-15%, +0%);
}

#log {
  background-color: #4fc3f7;
  transform: translate(+0%, +3%);
}

.resultsHead {
  transform: translate(-10%, -35%);
}

.resultsTable {
  transform: translate(+85%, -11.5%);
}

table {
  border: 3px solid #616161;
  width: 30%;
}

table.resultsTable td, table.resultsTable th {
  border: 1px solid #616161;
  padding: 5px 4px;
}
